<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <title>Vigilant - @Page.Title</title>
    <link href="~/Content/themes/base/jquery.ui.all.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <script src="~/Scripts/jquery-1.8.2.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.8.24.js"></script>
    <script src="~/Scripts/modernizr-2.6.2.js"></script>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript">
        //<![CDATA[
        try {
            if (!window.CloudFlare) {
                var CloudFlare = [
                    { verbose: 0, p: 0, byc: 0, owlid: "cf", bag2: 1, mirage2: 0, oracle: 0, paths: { cloudflare: "/cdn-cgi/nexp/dok2v=1613a3a185/" }, atok: "71ceb2624e95f6a069cfe6fb57051c1e", petok: "3efec57fc5cdb2f216e831b432dfd9e6f638eff3-1414796191-86400", zone: "template-help.com", rocket: "0", apps: { "abetterbrowser": { "ie": "7" }, "ga_key": { "ua": "UA-7078796-5", "ga_bs": "2" } } }
                ];
                !function (a, b) {
                    a = document.createElement("script"), b = document.getElementsByTagName("script")[0], a.async = !0, a.src = "//ajax.cloudflare.com/cdn-cgi/nexp/dok2v=919620257c/cloudflare.min.js", b.parentNode.insertBefore(a, b)
                }()
            }
        } catch (e) {
        }
        ;
        //]]>
    </script>
    <link href="#" rel="canonical" />
    <link href="index.php?format=feed&amp;type=rss" rel="alternate" type="application/rss+xml"
          title="RSS 2.0" />
    <link href="index.php?format=feed&amp;type=atom" rel="alternate" type="application/atom+xml"
          title="Atom 1.0" />
    <link href="templates/theme1850/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" href="templates/theme1850/css/bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="templates/theme1850/css/default.css" type="text/css" />
    <link rel="stylesheet" href="templates/theme1850/css/template.css" type="text/css" />
    <link rel="stylesheet" href="templates/theme1850/css/touch.gallery.css" type="text/css" />
    <link rel="stylesheet" href="templates/theme1850/css/komento.css" type="text/css" />
    <link rel="stylesheet" href="templates/theme1850/css/magnific-popup.css" type="text/css" />
    <link rel="stylesheet" href="templates/theme1850/css/responsive.css" type="text/css" />
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" type="text/css" />
    <link rel="stylesheet"
          href="//fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800"
          type="text/css" />
    <link rel="stylesheet"
          href="templates/theme1850/css/caroufredsel.css"
          type="text/css" />
    <link rel="stylesheet" href="templates/theme1850/css/camera.css"
          type="text/css" />
    <link rel="stylesheet"
          href="modules/mod_superfish_menu/css/superfish.css"
          type="text/css" />
    <link rel="stylesheet"
          href="modules/mod_superfish_menu/css/superfish-navbar.css"
          type="text/css" />
    <link rel="stylesheet"
          href="modules/mod_superfish_menu/css/superfish-vertical.css"
          type="text/css" />
    <script src="media/jui/js/jquery.min.js" type="text/javascript"></script>
    <script src="media/jui/js/jquery-noconflict.js" type="text/javascript"></script>
    <script src="media/jui/js/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="media/system/js/mootools-core.js" type="text/javascript"></script>
    <script src="media/system/js/core.js" type="text/javascript"></script>
    <script src="media/system/js/tabs-state.js" type="text/javascript"></script>
    <script src="media/system/js/caption.js" type="text/javascript"></script>
    <script src="templates/theme1850/js/jquery.mobile.customized.min.js" type="text/javascript"></script>
    <script src="templates/theme1850/js/jquery.easing.1.3.js" type="text/javascript"></script>
    <script src="media/jui/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="templates/theme1850/js/jquery.isotope.min.js" type="text/javascript"></script>
    <script src="templates/theme1850/js/jquery.magnific-popup.js" type="text/javascript"></script>
    <script src="templates/theme1850/js/ios-orientationchange-fix.js" type="text/javascript"></script>
    <script src="templates/theme1850/js/desktop-mobile.js" type="text/javascript"></script>
    <script src="templates/theme1850/js/jquery.BlackAndWhite.min.js" type="text/javascript"></script>
    <script src="templates/theme1850/js/scripts.js" type="text/javascript"></script>
    <script src="modules/mod_caroufredsel/js/jquery.caroufredsel.js" type="text/javascript"></script>
    <script src="modules/mod_caroufredsel/js/jquery.touchSwipe.min.js" type="text/javascript"></script>
    <script src="modules/mod_caroufredsel/js/jquery.ba-throttle-debounce.min.js" type="text/javascript"></script>
    <script src="modules/mod_caroufredsel/js/jquery.mousewheel.min.js" type="text/javascript"></script>
    <script src="modules/mod_image_swoop/js/camera.min.js" type="text/javascript"></script>
    <script src="modules/mod_superfish_menu/js/superfish.js" type="text/javascript"></script>
    <script src="modules/mod_superfish_menu/js/jquery.mobilemenu.js" type="text/javascript"></script>
    <script src="modules/mod_superfish_menu/js/hoverIntent.js" type="text/javascript"></script>
    <script src="modules/mod_superfish_menu/js/supersubs.js" type="text/javascript"></script>
    <script src="modules/mod_superfish_menu/js/sftouchscreen.js" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(window).on('load', function () {
            new JCaption('img.caption');
        });
        jQuery(window).load(function () {
            jQuery('.item_img a').BlackAndWhite({
                invertHoverEffect: 1,
                intensity: 1,
                responsive: true,
                speed: {
                    fadeIn: 500,
                    fadeOut: 500
                }
            });
        });
    </script>
    <!--[if IE 8]>
    <link rel="stylesheet" href="templates/theme1850/css/ie.css"/>
    <![endif]-->
    <script type="text/javascript">
            /* <![CDATA[ */
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-7078796-5']);
            _gaq.push(['_trackPageview']);

            (function () {
                var ga = document.createElement('script');
                ga.type = 'text/javascript';
                ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0];
                s.parentNode.insertBefore(ga, s);
            })();

            (function (b) {
                (function (a) {
                    "__CF" in b && "DJS" in b.__CF ? b.__CF.DJS.push(a) : "addEventListener" in b ? b.addEventListener("load", a, !1) : b.attachEvent("onload", a)
                })(function () {
                    "FB" in b && "Event" in FB && "subscribe" in FB.Event && (FB.Event.subscribe("edge.create", function (a) {
                        _gaq.push(["_trackSocial", "facebook", "like", a])
                    }), FB.Event.subscribe("edge.remove", function (a) {
                        _gaq.push(["_trackSocial", "facebook", "unlike", a])
                    }), FB.Event.subscribe("message.send", function (a) {
                        _gaq.push(["_trackSocial", "facebook", "send", a])
                    }));
                    "twttr" in b && "events" in twttr && "bind" in twttr.events && twttr.events.bind("tweet", function (a) {
                        if (a) {
                            var b;
                            if (a.target && a.target.nodeName == "IFRAME") a: {
                                if (a = a.target.src) {
                                    a = a.split("#")[0].match(/[^?=&]+=([^&]*)?/g);
                                    b = 0;
                                    for (var c; c = a[b]; ++b) if (c.indexOf("url") === 0) {
                                        b = unescape(c.split("=")[1]);
                                        break a
                                    }
                                }
                                b = void 0
                            }
                            _gaq.push(["_trackSocial", "twitter", "tweet", b])
                        }
                    })
                })
            })(window);
            /* ]]> */
    </script>
</head>
<body class="com_content view-category task- itemid-101 body__">
    <div id="wrapper">
        <div class="wrapper-inner">

            <div id="navigation-row">
                <div class="row-container">
                    <div class="container">
                        <div class="row">
                            <nav>
                                <div class="moduletable navigation  span12">
                                    <ul class="sf-menu  ">
                                        <li class="item-101 current active">
                                            <div class="sfHolder"><a href="~/Default.cshtml">Home</a></div>
                                        </li>
                                        <li class="item-167 deeper parent">
                                            <div class="sfHolder">
                                                <a href="~/About">About</a>
                                            </div>
                                        </li>
                                        <li class="item-173">
                                            <div class="sfHolder"><a href="~/Services.cshtml">Services</a></div>
                                        </li>
                                        @*<li class="item-169">
                                            <div class="sfHolder"><a href="index.php/gallery">Gallery</a></div>
                                        </li>
                                        <li class="item-109">
                                            <div class="sfHolder"><a href="index.php/blog">Blog</a></div>
                                        </li>*@
                                        <li class="item-102">
                                            <div class="sfHolder"><a href="~/Contact.cshtml">Contacts</a></div>
                                        </li>
                                    </ul>
                                    <script type="text/javascript">
                                        // initialise plugins
                                        jQuery(function () {
                                            jQuery('ul.sf-menu')

                                                    .superfish({
                                                        hoverClass: 'sfHover',
                                                        pathClass: 'overideThisToUse',
                                                        pathLevels: 1,
                                                        delay: 500,
                                                        animation: { opacity: 'show', height: 'show' },
                                                        speed: 'normal',
                                                        speedOut: 'fast',
                                                        autoArrows: false,
                                                        disableHI: false,
                                                        useClick: 0,
                                                        easing: "swing",
                                                        onInit: function () {
                                                        },
                                                        onBeforeShow: function () {
                                                        },
                                                        onShow: function () {
                                                        },
                                                        onHide: function () {
                                                        },
                                                        onIdle: function () {
                                                        }
                                                    });
                                        });

                                        jQuery(function () {
                                            jQuery('.sf-menu').mobileMenu({
                                                defaultText: 'Navigate to...',
                                                className: 'select-menu',
                                                subMenuClass: 'sub-menu'
                                            });
                                        })

                                        jQuery(function () {
                                            var ismobile = navigator.userAgent.match(/(iPhone)|(iPod)|(android)|(webOS)/i)
                                            if (ismobile) {
                                                jQuery('.sf-menu').sftouchscreen({});
                                            }
                                        })
                                    </script>
                                </div>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>

            <div id="header-row">
                <div class="row-container">
                    <div class="container">
                        <header>
                            <div class="row">

                                <div id="logo" class="span6">
                                    <a href="">
                                        <img src="images/logo.png" alt="Guard" />
                                    </a>
                                </div>
                                <div class="moduletable phone  span6">
                                    <h6 class="moduleTitle ">
                                        <span class="item_title_part0">Your</span> <span class="item_title_part1">first</span> <span class="item_title_part2">visit?</span> <span class="item_title_part3">Call</span> <span class="item_title_part4">for</span> <span class="item_title_part5">info</span>
                                    </h6>

                                    <div class="mod-custom mod-custom__phone">
                                        +1-234-567-8900
                                    </div>
                                </div>
                            </div>
                        </header>
                    </div>
                </div>
            </div>
            @RenderBody()
           

            <div id="footer-row">
                <div class="row-container">
                    <div class="container">
                        <div id="footer" class="row">
                            <div class="moduletable about  span6">
                                <h3 class="moduleTitle ">
                                    <span class="item_title_part0">shortly</span> <span class="item_title_part1">about</span> <span class="item_title_part2">us</span>
                                </h3>

                                <div class="mod-article-single mod-article-single__about">
                                    <div class="item__module">

                                        <div class="item_img img-intro img-intro__left">
                                            <img src="images/about-1.jpg" alt="" />
                                        </div>

                                        <h4 class="item-title">
                                            Mes cuml dia sed inenias ingerto lot aliiqtes dolore ipsum.
                                        </h4>


                                        <div class="item_introtext">
                                            <p>
                                                Mes cuml dia sed in lacus ut eniascet ingerto aliiqt es site amet eismod ictor ut
                                                ligulate ameti dapibus ticdu nt mtsen lusto dolor ltissim com. Mes cuml dia sed
                                                inertio.
                                            </p>

                                            <p>
                                                Nemo enim ipsam voluptatem voluptas sit. Aspernatur aut odit aut fugit sed quia
                                                consequuntur magni dolores eos qui rationevoluptatem nesciunt lacusueni ascet
                                                dolingerto aliiqt sit amet eism com odictor ut ligulate cot.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="moduletable news  span6">
                                <h3 class="moduleTitle ">
                                    <span class="item_title_part0">latest</span> <span class="item_title_part1">news</span>
                                </h3>

                                <div class="mod_caroufredsel mod_caroufredsel__news">
                                    <div id="list_carousel_carousel1" class="list_carousel">
                                        <ul id="caroufredsel_carousel1">
                                            <li class="item">
                                                <div class="item_published">
                                                    <span>25</span>
                                                    Sep
                                                </div>
                                                <div class="item_content">
                                                    <h4 class="item_title item_title__news">
                                                        <a href="#">
                                                            Cuml dia sed inenias cet.
                                                        </a>
                                                    </h4>

                                                    <p>
                                                        Mes cuml dia sed in lacus ut eniascet ingerto aliiqt es site amet eismod
                                                        ictor ut ligulate ameti dapibus.
                                                    </p>

                                                    <a class="btn btn-info readmore"
                                                       href="#"><span>more info</span></a>
                                                </div>
                                            </li>
                                            <li class="item">
                                                <div class="item_published">
                                                    <span>25</span>
                                                    Sep
                                                </div>
                                                <div class="item_content">
                                                    <h4 class="item_title item_title__news">
                                                        <a href="#">
                                                            Dia sed inenias cet inger lot.
                                                        </a>
                                                    </h4>

                                                    <p>
                                                        Mes cuml dia sed in lacus ut eniascet ingerto aliiqt es site amet eismod
                                                        ictor ut ligulate ameti dapibus.
                                                    </p>

                                                    <a class="btn btn-info readmore"
                                                       href="#"><span>more info</span></a>
                                                </div>
                                            </li>
                                        </ul>
                                        <div id="carousel_carousel1_prev" class="caroufredsel_prev"><span>&lt;</span></div>
                                        <div id="carousel_carousel1_next" class="caroufredsel_next"><span>&gt;</span></div>
                                        <div id="carousel_carousel1_pag" class="caroufredsel_pagination"></div>
                                        <div class="clearfix"></div>
                                    </div>
                                </div>
                                <script type="text/javascript">
                                    if (jQuery.browser.msie && jQuery.browser.version < 9) {
                                        jQuery(document).ready(function () {

                                            var carouselConteiner = jQuery("#caroufredsel_carousel1");

                                            carouselConteiner.carouFredSel({
                                                responsive: true,
                                                width: '100%',
                                                items: {
                                                    width: 270,
                                                    height: 'variable',
                                                    visible: {
                                                        min: 1,
                                                        max: 2
                                                    },
                                                    minimum: 1
                                                },
                                                scroll: {
                                                    items: 1,
                                                    fx: "scroll",
                                                    easing: "swing",
                                                    duration: 500,
                                                    queue: true
                                                },
                                                auto: false,
                                                next: "#carousel_carousel1_next",
                                                prev: "#carousel_carousel1_prev",
                                                swipe: {
                                                    onTouch: true
                                                }
                                            });
                                        });
                                    } else {
                                        jQuery(window).load(function () {

                                            var carouselConteiner = jQuery("#caroufredsel_carousel1");

                                            carouselConteiner.carouFredSel({
                                                responsive: true,
                                                width: '100%',
                                                items: {
                                                    width: 270,
                                                    height: 'variable',
                                                    visible: {
                                                        min: 1,
                                                        max: 2
                                                    },
                                                    minimum: 1
                                                },
                                                scroll: {
                                                    items: 1,
                                                    fx: "scroll",
                                                    easing: "swing",
                                                    duration: 500,
                                                    queue: true
                                                },
                                                auto: false,
                                                next: "#carousel_carousel1_next",
                                                prev: "#carousel_carousel1_prev",
                                                swipe: {
                                                    onTouch: true
                                                }
                                            });
                                        });
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div id="push"></div>
        </div>
    </div>
    <div id="footer-wrapper">
        <div class="footer-wrapper-inner">

            <div id="copyright-row">
                <div class="row-container">
                    <div class="container">
                        <div class="row">

                            <div id="copyright" class="span6">
                                <span class="siteName">Guard</span> <span class="copy">&copy;</span> <span class="year">2014</span> <a class="privacy_link"
                                                                                                                                       href="#">
                                    Privacy
                                    policy
                                </a>
                            </div>
                            <div class="moduletable   span6">
                                <div class="mod-menu__social">
                                    <ul class="menu social">
                                        <li class="item-146">
                                            <a class="facebook hasTooltip" href="#" title="Facebook">Facebook</a>
                                        </li>
                                        <li class="item-147"><a class="feed hasTooltip" href="#" title="Feed">Feed</a></li>
                                        <li class="item-148">
                                            <a class="twitter hasTooltip" href="#"
                                               title="Twitter">Twitter</a>
                                        </li>
                                        <li class="item-149">
                                            <a class="google-plus hasTooltip" href="#" title="Google+">Google+</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="span12">
                                <div id="to-desktop">
                                    <a href="#">
                                        <span class="to_desktop">Back to desktop version</span><span class="to_mobile">Back to mobile version</span>
                                    </a>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="back-top">
        <a href="#"><span></span> </a>
    </div>
</body>
</html>